*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    width:100%;
    height:100vh;
    overflow:hidden;

    background: url("./fundo.jpg") center center / cover no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* TELA PERGUNTA */
#tela-pergunta{
    text-align:center;
    color:white;
    text-shadow:2px 2px 10px rgba(0,0,0,0.6);
}

h1{
    font-size:42px;
    margin-bottom:40px;
}

.botoes{
    position:relative;
    width:320px;
    height:180px;
}

button{
    width:120px;
    height:60px;
    border:none;
    border-radius:15px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}

#sim{
    background:#00d26a;
    color:white;
}

#nao{
    position:absolute;
    left:180px;
    top:0;

    background:#ff3b3b;
    color:white;
}

/* VÍDEO */
#tela-video{
    display:none;
    position:fixed;
    inset:0;
    background:black;
    justify-content:center;
    align-items:center;
}

#video{
    width:100%;
    height:100%;
    object-fit:contain;
}